Icon?
old*/
outputs*/
scenario_queue*/
clone1.log
cplex.log
parse_table_datacmds.py
.*
!.gitignore
*.key
*.pptx
~$*
im
inputs_2045_15_2*/
*_old/
LatexFiles/
Presentations/
references/
regulatoryIdeas/
switch/
valueRTPv4Figures/
data_sources/
HPC backup/
__pycache__
